BODY {
	MIN-WIDTH: 1000px; MARGIN: 0px; FONT: 12px "Trebuchet MS", Helvetica, sans-serif; BACKGROUND: #dfe6e9; COLOR: #545c5f
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; DISPLAY: block; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: #b7b7b7; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
INPUT {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; FONT: 100% "Trebuchet MS", Helvetica, sans-serif; COLOR: #626667; VERTICAL-ALIGN: middle
}
TEXTAREA {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; FONT: 100% "Trebuchet MS", Helvetica, sans-serif; COLOR: #626667; VERTICAL-ALIGN: middle
}
SELECT {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; FONT: 100% "Trebuchet MS", Helvetica, sans-serif; COLOR: #626667; VERTICAL-ALIGN: middle
}
FORM {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
Q {
	QUOTES: none
}
Q:before {
	CONTENT: ""
}
Q:after {
	CONTENT: ""
}
.wrap {
	WIDTH: 100%
}
.wrap:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.header-wrap {
	BACKGROUND: url(../images/bg-header02.png) repeat-x
}
#header {
	Z-INDEX: 102; POSITION: relative; BACKGROUND: url(../images/bg-header.png) no-repeat 50% 0px; HEIGHT: 124px
}
.header-holder {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 900px; PADDING-RIGHT: 0px; PADDING-TOP: 13px
}
.header-holder:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#header .logo {
	TEXT-INDENT: -9999px; MARGIN: 0px 0px 0px -1px; WIDTH: 455px; FLOAT: left; HEIGHT: 55px; OVERFLOW: hidden
}
#header .logo A {
	DISPLAY: block; BACKGROUND: url(../images/logo.png) no-repeat; HEIGHT: 100%
}
.form-wrap {
	WIDTH: 100%; OVERFLOW: hidden
}
#nav {
	PADDING-BOTTOM: 13px; LIST-STYLE-TYPE: none; MARGIN: 0px -8px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#nav LI {
	POSITION: relative; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; MARGIN-RIGHT: 4px; PADDING-TOP: 0px
}
#nav LI:hover {
	BACKGROUND: url(../images/bg-nav-l.gif) no-repeat
}
#nav .active {
	BACKGROUND: url(../images/bg-nav-l.gif) no-repeat
}
#nav LI:hover {
	Z-INDEX: 10
}
#nav A {
	FLOAT: left; FONT-SIZE: 13px
}
#nav LI:hover A {
	BACKGROUND: url(../images/bg-nav-r.gif) no-repeat 100% 0px; TEXT-DECORATION: none
}
#nav .active A {
	BACKGROUND: url(../images/bg-nav-r.gif) no-repeat 100% 0px; TEXT-DECORATION: none
}
#nav .home {
	PADDING-BOTTOM: 0px; TEXT-INDENT: -9999px; PADDING-LEFT: 0px; WIDTH: 27px; PADDING-RIGHT: 0px; BACKGROUND: url(btn-home.gif) no-repeat; HEIGHT: 25px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#nav LI:hover .home {
	BACKGROUND: url(../images/btn-home.gif) no-repeat 0px -25px
}
#nav .active .home {
	BACKGROUND: url(../images/btn-home.gif) no-repeat 0px -25px
}
#nav A SPAN {
	FLOAT: left
}
#nav .with-drop SPAN {
	BACKGROUND: url(../images/arrow.png) no-repeat 100% 10px
}
#nav A EM {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 14px; FONT-STYLE: normal; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 20px; COLOR: #fff; CURSOR: pointer; PADDING-TOP: 4px
}
#nav .with-drop EM {
	PADDING-RIGHT: 22px
}
#nav LI:hover .with-drop EM {
	BACKGROUND: url(../images/arrow02.gif) no-repeat 49% 100%
}
#nav .active .with-drop EM {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#nav UL {
	POSITION: absolute; PADDING-BOTTOM: 13px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 163px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: url(../images/bg-drop.png) no-repeat 0px 100%; TOP: 49px; LIST-STYLE-IMAGE: none; PADDING-TOP: 1px; LEFT: -38px
}
#nav UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 16px; WIDTH: 147px; PADDING-RIGHT: 0px; FLOAT: none; VERTICAL-ALIGN: middle; PADDING-TOP: 10px
}
#nav UL LI:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#nav LI:hover LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#nav LI LI A {
	WIDTH: 137px; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #b7b7b7; FONT-SIZE: 12px
}
#nav LI:hover LI A {
	WIDTH: 137px; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #b7b7b7; FONT-SIZE: 12px
}
#nav UL LI .with-drop {
	BACKGROUND: url(../images/bg-arrow.png) no-repeat 100% 5px
}
#nav UL LI:hover .with-drop {
	BACKGROUND: url(../images/bg-arrow02.png) no-repeat 100% 5px
}
#nav LI LI A:hover {
	COLOR: #fff
}
#nav UL UL {
	TOP: -1px; LEFT: 163px
}
#nav LI:hover LI UL {
	VISIBILITY: hidden
}
#nav LI:hover LI:hover UL {
	VISIBILITY: visible
}
.search-form {
	WIDTH: 274px; FLOAT: left
}
.search-form .text-wrap {
	WIDTH: 249px; BACKGROUND: url(../images/bg-input02.gif) no-repeat; FLOAT: left
}
.search-form .text {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 229px; PADDING-RIGHT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 17px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 4px
}
.search-form .submit {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(bg-submit.gif) no-repeat; FLOAT: left; LETTER-SPACING: -1000px; HEIGHT: 25px; FONT-SIZE: 0px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.login-form {
	FLOAT: right
}
.login-form .button {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 95px; PADDING-RIGHT: 0px; FLOAT: right; LETTER-SPACING: -1000px; HEIGHT: 25px; MARGIN-LEFT: 7px; FONT-SIZE: 0px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.login-form .sign-up {
	BACKGROUND: url(../images/btn-sign-up.png) no-repeat
}
.login-form .sign-in {
	BACKGROUND: url(../images/btn-sign-in.png) no-repeat
}
.login-form .text-wrap {
	WIDTH: 112px; BACKGROUND: url(bg-input.gif) no-repeat; FLOAT: right; MARGIN-LEFT: 7px
}
.login-form .text {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 92px; PADDING-RIGHT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 17px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 4px
}
#intro-holder {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-intro.png) no-repeat 50% 0px; HEIGHT: 377px; PADDING-TOP: 2px
}
#intro-holder .loader {
	MARGIN-LEFT: 91px
}
.intro-box {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 900px; HEIGHT: 377px
}
#centered-slider {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 33px -20px 0px; PADDING-LEFT: 33px; WIDTH: 907px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-centered-slider.png) no-repeat; HEIGHT: 297px; PADDING-TOP: 12px
}
.roundabout-holder {
	POSITION: absolute; WIDTH: 100%; HEIGHT: 377px; TOP: 0px; LEFT: 0px
}
#myRoundabout {
	POSITION: absolute !important; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 377px; TOP: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: 0px
}
.roundabout-moveable-item {
	WIDTH: 702px; HEIGHT: 309px; CURSOR: pointer
}
.roundabout-moveable-item .image {
	POSITION: absolute; WIDTH: 100%; HEIGHT: 92%; OVERFLOW: hidden; TOP: 12px; LEFT: 0px
}
.roundabout-moveable-item .image IMG {
	MARGIN: 0px auto; WIDTH: 91% !important
}
.roundabout-in-focus {
	CURSOR: auto
}
.intro-box .controls {
	Z-INDEX: 101; POSITION: absolute; WIDTH: 100%; TOP: 0px; LEFT: 0px
}
#previous {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 24px; BACKGROUND: url(../images/btn-prev.png) no-repeat; HEIGHT: 40px; OVERFLOW: hidden; TOP: 167px; LEFT: 53px
}
#next {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 24px; BACKGROUND: url(../images/btn-prev.png) no-repeat; HEIGHT: 40px; OVERFLOW: hidden; TOP: 167px; LEFT: 53px
}
#next {
	BACKGROUND: url(../images/btn-next.png) no-repeat; RIGHT: 53px; LEFT: auto
}
.welcome-box {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 27px
}
.welcome-box:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#intro-slider {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 5px 20px 0px -20px; PADDING-LEFT: 31px; WIDTH: 515px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-image04.png) no-repeat; FLOAT: left !important; HEIGHT: 297px; PADDING-TOP: 12px
}
.welcome-box-left #intro-slider {
	MARGIN: 5px -20px 0px 20px; FLOAT: right !important
}
#intro-slider .hotspot {
	POSITION: absolute; WIDTH: 455px; BACKGROUND: url(../images/bg-gallery.png) no-repeat; HEIGHT: 284px; TOP: 11px; LEFT: 41px
}
#centered-slider .hotspot {
	POSITION: absolute; WIDTH: 455px; BACKGROUND: url(../images/bg-gallery.png) no-repeat; HEIGHT: 284px; TOP: 11px; LEFT: 41px
}
#centered-slider .hotspot {
	WIDTH: 441px; BACKGROUND: url(../images/hotspot07.png) no-repeat; HEIGHT: 273px; RIGHT: 214px; LEFT: auto
}
#intro-slider .pagination {
	Z-INDEX: 3; POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; BOTTOM: 21px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: 41px
}
#centered-slider .pagination {
	Z-INDEX: 3; POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; BOTTOM: 21px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: 41px
}
#centered-slider .pagination {
	BOTTOM: 20px; LEFT: 418px
}
#intro-slider .pagination LI {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#centered-slider .pagination LI {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#intro-slider .pagination A {
	TEXT-INDENT: -9999px; WIDTH: 13px; BACKGROUND: url(../images/bg-paging02.png) no-repeat; FLOAT: left; HEIGHT: 15px; OVERFLOW: hidden
}
#centered-slider .pagination A {
	TEXT-INDENT: -9999px; WIDTH: 13px; BACKGROUND: url(../images/bg-paging02.png) no-repeat; FLOAT: left; HEIGHT: 15px; OVERFLOW: hidden
}
#intro-slider .pagination .active A {
	BACKGROUND: url(../images/bg-paging-a.png) no-repeat
}
#centered-slider .pagination .active A {
	BACKGROUND: url(../images/bg-paging-a.png) no-repeat
}
#intro-slider .container {
	POSITION: relative; WIDTH: 486px; HEIGHT: 284px; OVERFLOW: hidden
}
#centered-slider .container {
	POSITION: relative; WIDTH: 486px; HEIGHT: 284px; OVERFLOW: hidden
}
#centered-slider .container {
	WIDTH: 874px
}
#intro-slider .stick {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 118px; BACKGROUND: url(../images/stick-template.png) no-repeat; HEIGHT: 118px; OVERFLOW: hidden; TOP: -3px; RIGHT: 14px
}
#centered-slider .stick {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 118px; BACKGROUND: url(../images/stick-template.png) no-repeat; HEIGHT: 118px; OVERFLOW: hidden; TOP: -3px; RIGHT: 14px
}
#centered-slider .stick {
	RIGHT: 18px
}
.welcome-box .text-box {
	HEIGHT: 1%; OVERFLOW: hidden
}
.welcome-box .text-box H2 {
	LINE-HEIGHT: 22px; MARGIN: 0px 0px 14px; COLOR: #2e3536; FONT-SIZE: 28px
}
.welcome-box .text-box P {
	MARGIN: 0px 0px 18px
}
.welcome-box .bulleted-list {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 27px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.welcome-box .bulleted-list LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 9px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bullet.gif) no-repeat 1px 8px; PADDING-TOP: 0px
}
.welcome-box .text-box .more {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-LEFT: 21px; WIDTH: 135px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/btn-more02.gif) no-repeat; FLOAT: left; HEIGHT: 28px; COLOR: #fff; FONT-SIZE: 14px; PADDING-TOP: 6px; text-shadow: #000 1px 1px 1px
}
.welcome-box .text-box .portfolio {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-LEFT: 21px; WIDTH: 135px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/btn-more02.gif) no-repeat; FLOAT: left; HEIGHT: 28px; COLOR: #fff; FONT-SIZE: 14px; PADDING-TOP: 6px; text-shadow: #000 1px 1px 1px
}
.welcome-box .text-box .portfolio {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 31px; WIDTH: 125px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/btn-portfolio.gif) no-repeat; FLOAT: right; PADDING-TOP: 6px
}
.welcome-box .text-box .more:hover {
	BACKGROUND-POSITION: 0px -34px; TEXT-DECORATION: none
}
.welcome-box .text-box .portfolio:hover {
	BACKGROUND-POSITION: 0px -34px; TEXT-DECORATION: none
}
.promo-wrap {
	BACKGROUND: url(../images/bg-promo-box02.png) repeat-x
}
.promo-box {
	MARGIN-TOP: -2px; BACKGROUND: url(../images/bg-promo-box.png) no-repeat 50% 0px; HEIGHT: 73px; OVERFLOW: hidden
}
.promo-holder {
	MARGIN: 18px auto 0px; WIDTH: 900px; OVERFLOW: hidden
}
.promo-box .promo-text {
	MARGIN-TOP: 6px; TEXT-INDENT: -9999px; WIDTH: 590px; BACKGROUND: url(../images/text-welcome.png) no-repeat; FLOAT: left; HEIGHT: 23px; OVERFLOW: hidden
}
.promo-box .btn-take {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 32px; WIDTH: 205px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/btn-take.png) no-repeat; FLOAT: right; HEIGHT: 28px; COLOR: #1b1f20; FONT-SIZE: 14px; PADDING-TOP: 9px
}
.promo-box .btn-take:hover {
	TEXT-DECORATION: none
}
#steps-slider {
	PADDING-BOTTOM: 42px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 42px; BACKGROUND: url(../images/bg-steps-slider.png) no-repeat 50% 100%; PADDING-TOP: 0px
}
.steps-holder {
	BACKGROUND: url(../images/bg-steps02.png) #d6dcde repeat-x; HEIGHT: 162px; OVERFLOW: hidden
}
#steps-slider .pagination {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 900px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-paging.png) no-repeat 0px 50%; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#steps-slider .pagination:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#menu .last .drop-holder {
	RIGHT: 0px !important; LEFT: auto !important
}
#steps-slider .pagination LI {
	MARGIN: 0px 0px 0px 4px; WIDTH: 221px; DISPLAY: inline; FLOAT: left
}
#steps-slider .pagination .active {
	MARGIN: 0px -12px 0px -9px; WIDTH: 246px; BACKGROUND: url(../images/bg-step-a.png) no-repeat 0px 100%
}
#steps-slider .pagination A {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 32px; PADDING-RIGHT: 27px; DISPLAY: block; HEIGHT: 132px; PADDING-TOP: 30px
}
#steps-slider .pagination .active A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 45px; PADDING-RIGHT: 39px; PADDING-TOP: 30px
}
#steps-slider .pagination A:hover {
	TEXT-DECORATION: none
}
#steps-slider .pagination A .title {
	PADDING-BOTTOM: 20px; TEXT-INDENT: -9999px; PADDING-LEFT: 50px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 32px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.pagination A .title01 {
	BACKGROUND: url(../images/text-start.png) no-repeat
}
.pagination .active A .title01 {
	BACKGROUND: url(../images/text-start-a.png) no-repeat
}
.pagination A .title02 {
	BACKGROUND: url(../images/text-step2.png) no-repeat
}
.pagination .active A .title02 {
	BACKGROUND: url(../images/text-step2-a.png) no-repeat
}
.pagination A .title03 {
	BACKGROUND: url(../images/text-step3.png) no-repeat
}
.pagination .active A .title03 {
	BACKGROUND: url(../images/text-step3-a.png) no-repeat
}
.pagination A .title04 {
	BACKGROUND: url(../images/text-step4.png) no-repeat
}
.pagination .active A .title04 {
	BACKGROUND: url(../images/text-step4-a.png) no-repeat
}
.pagination A SPAN {
	COLOR: #959c9e
}
.pagination .active A SPAN {
	COLOR: #545c5f
}
#steps-slider .container {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 900px; HEIGHT: 330px; OVERFLOW: hidden; CURSOR: pointer
}
.container .slides {
	POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; TOP: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: 0px
}
.container .slides LI {
	POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 900px; PADDING-RIGHT: 0px; DISPLAY: none; OVERFLOW: hidden; TOP: 0px; PADDING-TOP: 0px
}
#steps-slider .slides .image {
	POSITION: relative; MARGIN: 10px 0px 0px 43px; WIDTH: 439px; FLOAT: right; HEIGHT: 332px
}
#steps-slider .slides .image-left {
	PADDING-BOTTOM: 0px; MARGIN: 10px 43px 0px 0px; PADDING-LEFT: 0px; WIDTH: 275px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 307px; PADDING-TOP: 0px
}
#steps-slider .slides .text-box {
	HEIGHT: 1%; OVERFLOW: hidden
}
#steps-slider .slides H2 {
	LINE-HEIGHT: 28px; MARGIN: 0px 0px 26px; COLOR: #2e3536; FONT-SIZE: 28px
}
#steps-slider .slides P {
	MARGIN: 0px 0px 18px
}
#steps-slider .slides .more {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; WIDTH: 118px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/btn-more.png) no-repeat; HEIGHT: 24px; COLOR: #fff; OVERFLOW: hidden; PADDING-TOP: 6px
}
#steps-slider .slides .more:hover {
	BACKGROUND-POSITION: 0px -30px; TEXT-DECORATION: none
}
#steps-slider .slide-holder {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-slider.png) repeat-x; PADDING-TOP: 43px
}
#steps-slider .controls {
	Z-INDEX: 1000; POSITION: relative; MARGIN: 0px auto; WIDTH: 900px
}
#steps-slider .controls .previous {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 24px; BACKGROUND: url(../images/btn-prev02.png) no-repeat; HEIGHT: 40px; OVERFLOW: hidden; TOP: 188px; LEFT: -52px
}
#steps-slider .controls .next {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 24px; BACKGROUND: url(../images/btn-prev02.png) no-repeat; HEIGHT: 40px; OVERFLOW: hidden; TOP: 188px; LEFT: -52px
}
#steps-slider .controls .next {
	BACKGROUND: url(../images/btn-next02.png) no-repeat; RIGHT: -52px; LEFT: auto
}
#main {
	PADDING-BOTTOM: 70px; MARGIN: 0px auto; WIDTH: 900px
}
#main .popular-holder {
	WIDTH: 100%
}
#main .popular-holder:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#main .popular-holder .title-box {
	Z-INDEX: 3; POSITION: relative; WIDTH: 100%; MARGIN-BOTTOM: 29px
}
#main .popular-holder .title-box:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.popular-holder .title-box H2 {
	LINE-HEIGHT: 28px; MARGIN: 0px; COLOR: #2e3536; FONT-SIZE: 28px
}
.category-holder {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 196px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 4px
}
.heading-box .category-holder {
	PADDING-TOP: 14px
}
.category-holder .open-close {
	Z-INDEX: 11; POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 16px; WIDTH: 180px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/btn-category.png) no-repeat; HEIGHT: 25px; COLOR: #fff; PADDING-TOP: 5px
}
.category-holder .open-close:hover {
	BACKGROUND-POSITION: 0px -30px; TEXT-DECORATION: none
}
.slide-active .open-close {
	BACKGROUND-POSITION: 0px -30px; TEXT-DECORATION: none
}
.category-holder .block {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 196px; TOP: 32px; LEFT: 0px
}
.category-holder .category-c {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 19px; PADDING-RIGHT: 18px; BACKGROUND: url(../images/bg-category-c.png) repeat-y; PADDING-TOP: 0px
}
.category-holder .category-b {
	BACKGROUND: url(../images/bg-category-b.png) no-repeat; HEIGHT: 5px; OVERFLOW: hidden
}
.category-holder .category-list {
	BORDER-BOTTOM: #515455 1px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 19px
}
.category-holder .category-list LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 1%; VERTICAL-ALIGN: middle; OVERFLOW: hidden; PADDING-TOP: 0px
}
.category-holder .category-list A {
	DISPLAY: block; COLOR: #b7b7b7
}
.category-holder .category-list A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.category-holder .all-categories:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.category-holder .all-categories {
	TEXT-ALIGN: center; DISPLAY: block
}
.gallery {
	Z-INDEX: 2; POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px -38px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#content .gallery {
	PADDING-BOTTOM: 23px; MARGIN-BOTTOM: 46px; BACKGROUND: url(../images/separator04.gif) no-repeat 50% 100%
}
.gallery LI {
	PADDING-BOTTOM: 32px; PADDING-LEFT: 0px; WIDTH: 197px; PADDING-RIGHT: 37px; DISPLAY: inline-block; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.gallery H3 {
	LINE-HEIGHT: 22px; MARGIN: 0px; HEIGHT: 23px; COLOR: #2e3536; FONT-SIZE: 18px; OVERFLOW: hidden
}
.gallery H3 A {
	COLOR: #2e3536
}
.gallery H3 A:hover {
	TEXT-DECORATION: none
}
.gallery .sub-title {
	PADDING-BOTTOM: 19px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: bold 11px/17px "Trebuchet MS", Helvetica, sans-serif; BACKGROUND: url(ico.gif) no-repeat 0px 3px; COLOR: #373f42; PADDING-TOP: 0px; text-shadow: #eff3f4 0 1px 0
}
.gallery .sub-title A {
	COLOR: #373f42
}
.gallery .product-holder {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px -15px; PADDING-LEFT: 23px; WIDTH: 180px; PADDING-RIGHT: 23px; BACKGROUND: url(../images/bg-gallery-el.png) no-repeat; HEIGHT: 118px; PADDING-TOP: 9px
}
.gallery .image {
	POSITION: relative; PADDING-BOTTOM: 4px; WIDTH: 100%; HEIGHT: 91px; OVERFLOW: hidden
}
.gallery .image .loader {
	MARGIN: -2px 0px 0px
}
.gallery .price {
	LINE-HEIGHT: 18px; FLOAT: left; COLOR: #323839; FONT-WEIGHT: bold
}
.gallery .stars {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; FLOAT: right; LIST-STYLE-IMAGE: none; PADDING-TOP: 1px
}
.gallery .stars LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 1px; WIDTH: auto; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.gallery .stick {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 82px; HEIGHT: 82px; TOP: -3px; LEFT: 12px
}
.gallery .hotspot {
	POSITION: absolute; WIDTH: 145px; BACKGROUND: url(../images/hotspot.png) no-repeat; HEIGHT: 91px; TOP: 9px; RIGHT: 23px
}
.heading-box {
	Z-INDEX: 101; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px -50px 12px; PADDING-LEFT: 50px; WIDTH: 900px; PADDING-RIGHT: 50px; BACKGROUND: url(separator03.gif) no-repeat 50% 100%; PADDING-TOP: 0px
}
.heading-box:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.heading-box H2 {
	PADDING-BOTTOM: 18px; LINE-HEIGHT: 28px; MARGIN: 0px 24px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 26px; BACKGROUND: url(../images/separator02.png) no-repeat 100% 50%; FLOAT: left; COLOR: #2e3536; FONT-SIZE: 22px; PADDING-TOP: 10px
}
.heading-box .text-box {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 1%; OVERFLOW: hidden; PADDING-TOP: 21px
}
.heading-box P {
	MARGIN: 0px 0px 15px
}
.breadcrumbs-holder {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.breadcrumbs {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(breadcrumbs-l.gif) no-repeat; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.breadcrumbs LI {
	LINE-HEIGHT: 18px; PADDING-LEFT: 11px; BACKGROUND: url(separator.gif) no-repeat; FLOAT: left
}
.breadcrumbs LI:first-child {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.breadcrumbs A {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; PADDING-RIGHT: 10px; FLOAT: left; COLOR: #373f42; PADDING-TOP: 5px; text-shadow: #eef0f2 0 1px 0
}
.breadcrumbs SPAN {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; PADDING-RIGHT: 10px; FLOAT: left; COLOR: #373f42; PADDING-TOP: 5px; text-shadow: #eef0f2 0 1px 0
}
.breadcrumbs A:hover {
	TEXT-DECORATION: none
}
.breadcrumbs-r {
	TEXT-INDENT: -9999px; WIDTH: 5px; BACKGROUND: url(../images/breadcrumbs-r.gif) no-repeat; FLOAT: left; HEIGHT: 27px; OVERFLOW: hidden
}
#twocolumns {
	WIDTH: 100%
}
#twocolumns:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#content {
	WIDTH: 664px; FLOAT: left
}
#content H2 {
	LINE-HEIGHT: 28px; MARGIN: 0px 0px 26px; COLOR: #2e3536; FONT-SIZE: 28px
}
.post-box H2 {
	LINE-HEIGHT: 28px; MARGIN: 0px 0px 26px; COLOR: #2e3536; FONT-SIZE: 28px
}
.post-box H2 {
	MARGIN-BOTTOM: 26px
}
#main H2 A {
	COLOR: #2e3536
}
#main H2 A:hover {
	TEXT-DECORATION: none
}
.title-list {
	PADDING-BOTTOM: 26px; LIST-STYLE-TYPE: none; MARGIN: -24px 0px 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; OVERFLOW: hidden; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.title-list LI {
	PADDING-RIGHT: 17px; FLOAT: left
}
.title-list IMG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 3px
}
.title-list STRONG {
	FLOAT: left; text-shadow: #eef0f2 0 1px 0
}
.title-list A {
	LINE-HEIGHT: 17px; COLOR: #373f42; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.image-left {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px 13px 0px -23px; PADDING-LEFT: 33px; WIDTH: 287px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-image-box.png) no-repeat; FLOAT: left; HEIGHT: 152px; PADDING-TOP: 11px
}
.image-left .hotspot {
	POSITION: absolute; WIDTH: 237px; BACKGROUND: url(../images/hotspot02.png) no-repeat; HEIGHT: 141px; TOP: 11px; RIGHT: 33px
}
.image-left .zoom {
	Z-INDEX: 2; POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 27px; BOTTOM: 20px; BACKGROUND: url(../images/btn-zoom.png) no-repeat; HEIGHT: 27px; OVERFLOW: hidden; RIGHT: 43px
}
.image-left .video {
	Z-INDEX: 2; POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 27px; BOTTOM: 20px; BACKGROUND: url(../images/btn-zoom.png) no-repeat; HEIGHT: 27px; OVERFLOW: hidden; RIGHT: 43px
}
.image-left .video {
	BACKGROUND: url(../images/bg-video.png) no-repeat
}
#content P {
	LINE-HEIGHT: 18px; MARGIN: 0px 0px 18px
}
.post-box P {
	LINE-HEIGHT: 18px; MARGIN: 0px 0px 18px
}
#content P A {
	COLOR: #1865b2
}
.post-box P A {
	COLOR: #1865b2
}
.post-box {
	PADDING-BOTTOM: 61px; MARGIN-BOTTOM: 47px; BACKGROUND: url(../images/separator04.gif) no-repeat 50% 100%; HEIGHT: 1%
}
.box-type {
	PADDING-BOTTOM: 61px; MARGIN: 0px -50px 47px; PADDING-LEFT: 50px; WIDTH: 900px; PADDING-RIGHT: 50px; BACKGROUND: url(../images/separator05.gif) no-repeat 50% 100%; PADDING-TOP: 0px
}
.post-box:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.post-box .text-box {
	MARGIN-BOTTOM: -18px; HEIGHT: 1%; OVERFLOW: hidden
}
.post-box .text-box .wrap {
	PADDING-BOTTOM: 18px
}
.comments-holder {
	MARGIN: 0px 0px -31px; HEIGHT: 1%
}
.comments-holder:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.comment-title {
	PADDING-BOTTOM: 24px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.comment-title:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#content .comment-title H2 {
	MARGIN-TOP: -5px
}
.btn-black {
	BACKGROUND: url(../images/btn-l.gif) no-repeat; FLOAT: left; MARGIN-RIGHT: 20px; TEXT-DECORATION: none; text-shadow: #000 1px 1px 1px
}
.btn-green {
	BACKGROUND: url(../images/btn-l.gif) no-repeat; FLOAT: left; MARGIN-RIGHT: 20px; TEXT-DECORATION: none; text-shadow: #000 1px 1px 1px
}
.btn-green {
	BACKGROUND: url(../images/btn-l02.gif) no-repeat
}
.btn-type {
	MARGIN: 0px; FLOAT: right
}
.btn-black SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 24px; PADDING-RIGHT: 25px; BACKGROUND: url(../images/btn-r.gif) no-repeat 100% 0px; FLOAT: left; HEIGHT: 25px; COLOR: #fff; CURSOR: pointer; PADDING-TOP: 5px
}
.btn-green SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 24px; PADDING-RIGHT: 25px; BACKGROUND: url(../images/btn-r.gif) no-repeat 100% 0px; FLOAT: left; HEIGHT: 25px; COLOR: #fff; CURSOR: pointer; PADDING-TOP: 5px
}
.btn-green SPAN {
	BACKGROUND: url(btn-r02.gif) no-repeat 100% 0px
}
.btn-black:hover {
	BACKGROUND-POSITION: 0px -30px; TEXT-DECORATION: none
}
.btn-green:hover {
	BACKGROUND-POSITION: 0px -30px; TEXT-DECORATION: none
}
.btn-black:hover SPAN {
	BACKGROUND-POSITION: 100% -30px
}
.btn-green:hover SPAN {
	BACKGROUND-POSITION: 100% -30px
}
.comment-box {
	POSITION: relative; PADDING-BOTTOM: 42px; WIDTH: 100%; MARGIN-BOTTOM: 29px; BACKGROUND: url(../images/separator04.gif) no-repeat 0px 100%
}
.comment-box:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.comment-box .name {
	DISPLAY: block; COLOR: #2e3536; FONT-SIZE: 19px
}
.comment-box .site {
	LINE-HEIGHT: 13px; DISPLAY: block; MARGIN-BOTTOM: 17px; COLOR: #373f42; FONT-SIZE: 11px
}
.comment-box .image {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px 25px 0px -15px; PADDING-LEFT: 23px; WIDTH: 124px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-image-box02.png) no-repeat; FLOAT: left; HEIGHT: 100px; PADDING-TOP: 9px
}
.comment-box .image .hotspot {
	POSITION: absolute; WIDTH: 101px; BACKGROUND: url(../images/hotspot04.png) no-repeat; HEIGHT: 91px; TOP: 9px; RIGHT: 23px
}
.comment-box .text-box {
	POSITION: relative; PADDING-BOTTOM: 20px; MIN-HEIGHT: 90px; HEIGHT: 1%; OVERFLOW: hidden
}
.comment-box .text-box .wrap {
	POSITION: absolute; BOTTOM: 0px
}
.comment-box .reply {
	FLOAT: left; COLOR: #727d81
}
.comment-box .report {
	FLOAT: right; COLOR: #ec2b3c
}
.comment-box .added {
	POSITION: absolute; COLOR: #727d81; FONT-SIZE: 11px; TOP: 6px; RIGHT: 0px
}
.comment-form {
	POSITION: relative; WIDTH: 100%; BACKGROUND: url(../images/bg-form-c.png) repeat-y; OVERFLOW: hidden
}
.comment-form FIELDSET {
	BACKGROUND: url(../images/bg-form-t.png) no-repeat
}
.comment-form .form-box {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-form-b.gif) no-repeat 0px 100%; PADDING-TOP: 8px
}
#content .comment-form H2 {
	MARGIN-BOTTOM: 11px
}
.comment-form .row {
	PADDING-BOTTOM: 9px; WIDTH: 100%; OVERFLOW: hidden
}
.comment-form .text-wrap {
	PADDING-BOTTOM: 4px; MARGIN: 0px 10px 0px 0px; PADDING-LEFT: 11px; WIDTH: 179px; PADDING-RIGHT: 11px; BACKGROUND: url(bg-input04.gif) no-repeat; FLOAT: left; HEIGHT: 19px; PADDING-TOP: 4px
}
.comment-form .text {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 179px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.comment-form .textarea {
	PADDING-BOTTOM: 4px; MARGIN: 0px 0px 18px; PADDING-LEFT: 11px; WIDTH: 602px; PADDING-RIGHT: 11px; BACKGROUND: url(bg-input05.gif) no-repeat; HEIGHT: 92px; PADDING-TOP: 4px
}
.comment-form TEXTAREA {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 602px; PADDING-RIGHT: 0px; MAX-WIDTH: 602px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 92px; MAX-HEIGHT: 92px; OVERFLOW: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.comment-form .submit {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; WIDTH: 118px; PADDING-RIGHT: 0px; BACKGROUND: url(bg-submit03.gif) no-repeat; FLOAT: left; HEIGHT: 30px; COLOR: #fff; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px; text-shadow: #000 1px 1px 1px
}
.comment-form .submit:hover {
	BACKGROUND-POSITION: 0px -30px
}
.comment-form .check-holder {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 21px; FLOAT: right; PADDING-TOP: 9px
}
.comment-form .check-holder .checkbox {
	FLOAT: left
}
.comment-form .check-holder LABEL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #373f42; PADDING-TOP: 0px
}
.paging {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: -9px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.paging LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline-block; PADDING-TOP: 0px
}
.paging A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-LEFT: 0px; WIDTH: 30px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(bg-paging03.gif) no-repeat; HEIGHT: 24px; COLOR: #4c5457; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 6px; text-shadow: #edf0f1 2px 2px 1px
}
.paging A:hover {
	TEXT-DECORATION: none
}
.paging .active A {
	BACKGROUND-POSITION: 0px -30px; COLOR: #fff; text-shadow: #222526 2px 2px 1px
}
.paging .start A {
	TEXT-INDENT: -9999px; BACKGROUND: url(../images/btn-prev03.gif) no-repeat
}
.paging .prev A {
	TEXT-INDENT: -9999px; BACKGROUND: url(../images/btn-prev03.gif) no-repeat
}
.paging .next A {
	TEXT-INDENT: -9999px; BACKGROUND: url(../images/btn-prev03.gif) no-repeat
}
.paging .end A {
	TEXT-INDENT: -9999px; BACKGROUND: url(../images/btn-prev03.gif) no-repeat
}
.paging .prev A {
	BACKGROUND: url(../images/btn-prev04.gif) no-repeat
}
.paging .next A {
	BACKGROUND: url(../images/btn-next03.gif) no-repeat
}
.paging .end A {
	BACKGROUND: url(../images/btn-next04.gif) no-repeat
}
.person-list {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px -38px 0px 0px; PADDING-LEFT: 0px; WIDTH: 702px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 4px
}
.person-list:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.person-list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 34px; FLOAT: left; PADDING-TOP: 0px
}
.person-list .name {
	LINE-HEIGHT: 19px; DISPLAY: block; COLOR: #2e3536; FONT-SIZE: 19px
}
.person-list .profession {
	PADDING-BOTTOM: 19px; DISPLAY: block; COLOR: #373f42; FONT-SIZE: 11px
}
.person-list .image {
	POSITION: relative; PADDING-BOTTOM: 9px; MARGIN: 0px -14px 11px; PADDING-LEFT: 23px; WIDTH: 180px; PADDING-RIGHT: 23px; BACKGROUND: url(../images/bg-image06.png) no-repeat; HEIGHT: 91px; PADDING-TOP: 9px
}
.person-list .image .hotspot {
	POSITION: absolute; WIDTH: 145px; BACKGROUND: url(../images/hotspot03.png) no-repeat; HEIGHT: 91px; TOP: 8px; RIGHT: 23px
}
.person-list .image .loader {
	MARGIN: -4px 0px 0px
}
#content .contact-list {
	LINE-HEIGHT: 18px; MARGIN: 0px 0px 18px; COLOR: #545c5f
}
#content .contact-list DT {
	WIDTH: 72px; FLOAT: left
}
#content .contact-list DD {
	MARGIN: 0px
}
#content .contact-list A {
	COLOR: #545c5f
}
#content .contact-holder {
	PADDING-BOTTOM: 24px
}
#content .info-box {
	PADDING-BOTTOM: 26px; MARGIN-BOTTOM: 47px; BACKGROUND: url(../images/separator04.gif) no-repeat 50% 100%; HEIGHT: 1%
}
#content .info-box .image {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: -3px -22px 20px; PADDING-LEFT: 33px; WIDTH: 674px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-image08.png) no-repeat; HEIGHT: 332px; PADDING-TOP: 11px
}
#content .info-box .image .hotspot {
	POSITION: absolute; WIDTH: 216px; BACKGROUND: url(../images/hotspot05.png) no-repeat; HEIGHT: 225px; TOP: 11px; RIGHT: 271px
}
#content .info-box .image .loader {
	MARGIN: 1px 0px 0px 7px
}
#content .title-holder {
	Z-INDEX: 100; POSITION: relative; PADDING-BOTTOM: 26px; WIDTH: 100%
}
#content .title-holder:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#content .title-holder H2 {
	MARGIN: 0px; FLOAT: left
}
.title-holder .btn-holder {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 5px
}
.title-holder .btn-holder .top {
	TEXT-INDENT: -9999px; WIDTH: 24px; BACKGROUND: url(../images/btn-top.png) no-repeat; FLOAT: right; HEIGHT: 27px; MARGIN-LEFT: 8px; OVERFLOW: hidden
}
.title-holder .btn-holder .down {
	BACKGROUND: url(../images/btn-down.png) no-repeat
}
.title-holder .classify-holder {
	POSITION: relative; WIDTH: 120px; FLOAT: right
}
.title-holder .classify-holder .open-close {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; WIDTH: 102px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/btn-classify.png) no-repeat; HEIGHT: 22px; COLOR: #373f42; PADDING-TOP: 5px; text-shadow: #e7ebed 1px 1px 1px
}
.title-holder .classify-holder .open-close:hover {
	TEXT-DECORATION: none
}
.title-holder .classify-holder .block {
	POSITION: absolute; TOP: 27px; LEFT: 0px
}
.title-holder .classify-holder .classify-c {
	BACKGROUND: url(../images/classify-c.png) repeat-y
}
.title-holder .classify-holder .classify-list {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 2px; WIDTH: 116px; PADDING-RIGHT: 2px; BACKGROUND: url(../images/classify-t.png) no-repeat; LIST-STYLE-IMAGE: none; PADDING-TOP: 3px
}
.title-holder .classify-holder .classify-b {
	WIDTH: 120px; BACKGROUND: url(../images/classify-b.png) no-repeat; HEIGHT: 5px; OVERFLOW: hidden
}
.classify-holder .classify-list LI {
	HEIGHT: 1%; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.classify-holder .classify-list A {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; HEIGHT: 1%; COLOR: #373f42; OVERFLOW: hidden; PADDING-TOP: 3px
}
.classify-holder .classify-list A:hover {
	BACKGROUND: #d0d8dc; TEXT-DECORATION: none
}
.product-box {
	PADDING-BOTTOM: 44px; WIDTH: 100%; MARGIN-BOTTOM: 48px; BACKGROUND: url(../images/separator04.gif) no-repeat 50% 100%
}
.product-holder {
	PADDING-BOTTOM: 44px; WIDTH: 100%
}
.product-holder:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.product-box .image-holder {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 8px 15px 0px -21px; PADDING-LEFT: 33px; WIDTH: 254px; PADDING-RIGHT: 33px; BACKGROUND: url(../images/bg-image11.png) no-repeat; FLOAT: left; HEIGHT: 189px; PADDING-TOP: 10px
}
.product-box .image {
	POSITION: relative; WIDTH: 100%; MARGIN-BOTTOM: 6px; HEIGHT: 161px
}
.product-box .image .zoom {
	Z-INDEX: 2; POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 27px; BOTTOM: 9px; BACKGROUND: url(../images/btn-zoom.png) no-repeat; HEIGHT: 27px; OVERFLOW: hidden; RIGHT: 10px
}
.product-box .image .video {
	Z-INDEX: 2; POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 27px; BOTTOM: 9px; BACKGROUND: url(../images/btn-zoom.png) no-repeat; HEIGHT: 27px; OVERFLOW: hidden; RIGHT: 10px
}
.product-box .image .video {
	BACKGROUND: url(../images/bg-video.png) no-repeat
}
.product-box .image .hotspot {
	POSITION: absolute; WIDTH: 237px; BACKGROUND: url(../images/hotspot06.png) no-repeat; HEIGHT: 161px; TOP: 0px; RIGHT: 0px
}
.product-box .downloads {
	FLOAT: left; COLOR: #323839
}
.product-box .stars {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.product-box .stars LI {
	PADDING-LEFT: 1px; FLOAT: left
}
.product-box .text-box {
	HEIGHT: 1%; OVERFLOW: hidden
}
.product-box H4 {
	LINE-HEIGHT: 19px; MARGIN: -13px 0px 15px; COLOR: #2e3536; FONT-SIZE: 19px
}
.product-box .stick {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 82px; HEIGHT: 82px; OVERFLOW: hidden; TOP: -13px; LEFT: -13px
}
.product-box .purchase {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 12px; WIDTH: 118px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/btn-purchase.png) no-repeat; HEIGHT: 25px; COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 5px; text-shadow: #106010 1px 1px 1px
}
.product-box .purchase SPAN {
	WIDTH: 71px; FLOAT: left; OVERFLOW: hidden; CURSOR: pointer
}
.product-box .purchase EM {
	FONT-STYLE: normal; FLOAT: left; CURSOR: pointer
}
#sidebar {
	Z-INDEX: 100; POSITION: relative; WIDTH: 196px; FLOAT: right
}
#sidebar H2 {
	LINE-HEIGHT: 28px; MARGIN: 0px 0px 32px; COLOR: #2e3536; FONT-SIZE: 28px
}
#sidebar H3 {
	LINE-HEIGHT: 28px; MARGIN: 0px 0px 32px; COLOR: #2e3536; FONT-SIZE: 28px
}
#sidebar H3 {
	MARGIN: 0px 0px 25px; FONT-SIZE: 25px
}
#sidebar H4 {
	MARGIN: 0px 0px 18px; COLOR: #2e3536; FONT-SIZE: 19px
}
#sidebar .client-image {
	POSITION: relative; MARGIN-BOTTOM: 31px; HEIGHT: 91px
}
#sidebar .client-image .loader {
	MARGIN: -18px 0px 0px -6px
}
#sidebar .clients-list {
	PADDING-BOTTOM: 25px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#sidebar .clients-list LI {
	PADDING-BOTTOM: 19px; HEIGHT: 1%; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
#sidebar .clients-list .number {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 17px; FLOAT: left; PADDING-TOP: 0px
}
#sidebar .clients-list .name {
	LINE-HEIGHT: 19px; MARGIN: 0px 0px -1px; DISPLAY: block; COLOR: #2e3536; FONT-SIZE: 19px
}
#sidebar .clients-list .profession {
	FONT-SIZE: 11px
}
#sidebar P {
	MARGIN: 0px 0px 18px
}
#sidebar .side-box {
	MARGIN-BOTTOM: 46px; BACKGROUND: url(../images/bg-side-c.gif) repeat-y; HEIGHT: 1%
}
#sidebar .side-holder {
	BACKGROUND: url(bg-side-t.gif) no-repeat
}
#sidebar .side-frame {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 16px; WIDTH: 170px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/bg-side-b.gif) no-repeat 0px 100%; PADDING-TOP: 16px
}
#sidebar .related-list {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#sidebar .related-list LI {
	PADDING-BOTTOM: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 1%; VERTICAL-ALIGN: middle; OVERFLOW: hidden; PADDING-TOP: 0px
}
#sidebar .related-list A {
	DISPLAY: block; COLOR: #2e3536
}
#sidebar .related-list STRONG {
	LINE-HEIGHT: 19px; FONT-SIZE: 19px
}
#sidebar .related-list SPAN {
	DISPLAY: block; FONT-SIZE: 11px
}
#sidebar .related-list A:hover {
	COLOR: #1865b2; TEXT-DECORATION: none
}
#sidebar .archive-list {
	PADDING-BOTTOM: 7px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#sidebar .archive-list LI {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-LEFT: 22px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bullet02.gif) no-repeat 0px 2px; PADDING-TOP: 0px
}
#sidebar .archive-list A {
	COLOR: #373f42
}
#sidebar .comments-list {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#sidebar .comments-list LI {
	PADDING-BOTTOM: 18px; HEIGHT: 1%; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
#sidebar .comments-list STRONG {
	DISPLAY: block; COLOR: #373f42
}
#sidebar .comments-list P {
	LINE-HEIGHT: 18px; MARGIN: 0px; COLOR: #545c5f
}
#sidebar .comments-list .date {
	COLOR: #969d9f; FONT-SIZE: 11px
}
.comments-list .date A {
	TEXT-DECORATION: underline
}
.comments-list .date A:hover {
	TEXT-DECORATION: none
}
.cite-box {
	POSITION: relative; PADDING-BOTTOM: 19px; WIDTH: 100%; MARGIN-BOTTOM: 13px; BACKGROUND: url(../images/separator06.gif) no-repeat 50% 100%
}
.last-box {
	MARGIN: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.cite-box BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 10px; PADDING-TOP: 3px
}
.cite-box Q {
	FONT-STYLE: italic; MARGIN: 0px; DISPLAY: block; COLOR: #373f42
}
.cite-box CITE {
	TEXT-ALIGN: right; MARGIN: 0px; DISPLAY: block; COLOR: #373f42; FONT-WEIGHT: bold
}
.cite-box .quote-top {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 26px; BACKGROUND: url(../images/bg-quote.png) no-repeat; HEIGHT: 20px; OVERFLOW: hidden; TOP: 6px; LEFT: -28px
}
.cite-box .quote-bottom {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 25px; BOTTOM: 39px; BACKGROUND: url(../images/bg-quote02.png) no-repeat; HEIGHT: 20px; OVERFLOW: hidden; RIGHT: -22px
}
#sidebar .map-holder {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: -5px -23px 34px; PADDING-LEFT: 31px; WIDTH: 211px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-image07.png) no-repeat; HEIGHT: 154px; PADDING-TOP: 9px
}
#sidebar .view-list {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px -10px 0px 0px; PADDING-LEFT: 0px; WIDTH: 180px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#sidebar .view-list:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#sidebar .view-list LI {
	POSITION: relative; PADDING-BOTTOM: 19px; MARGIN: 0px 15px 0px 0px; PADDING-LEFT: 4px; WIDTH: 67px; PADDING-RIGHT: 4px; BACKGROUND: url(../images/bg-image10.png) no-repeat; FLOAT: left; HEIGHT: 67px; PADDING-TOP: 4px
}
#sidebar .view-list LI:hover {
	Z-INDEX: 100
}
#sidebar .view-list .trigger {
	WIDTH: 67px; DISPLAY: block; HEIGHT: 67px
}
.portfolio {
	Z-INDEX: 100; POSITION: relative; PADDING-BOTTOM: 10px; MARGIN: 0px -36px 46px 0px; PADDING-LEFT: 0px; WIDTH: 936px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/separator07.png) no-repeat 50% 100%; PADDING-TOP: 1px
}
.portfolio:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.portfolio-box {
	MARGIN: 0px 32px 50px 0px; WIDTH: 279px; DISPLAY: inline-block; VERTICAL-ALIGN: top
}
.portfolio-box .title {
	LINE-HEIGHT: 28px; DISPLAY: block; MARGIN-BOTTOM: 26px; COLOR: #2e3536; FONT-SIZE: 28px
}
.portfolio-box .title A {
	COLOR: #2e3536
}
.portfolio-box .title A:hover {
	TEXT-DECORATION: none
}
.portfolio-box .image {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: -3px -22px 20px; PADDING-LEFT: 33px; WIDTH: 255px; PADDING-RIGHT: 33px; BACKGROUND: url(../images/bg-image09.png) no-repeat; HEIGHT: 153px; PADDING-TOP: 10px
}
.portfolio-box .image .hotspot {
	POSITION: absolute; WIDTH: 237px; BACKGROUND: url(../images/hotspot02.png) no-repeat; HEIGHT: 141px; TOP: 10px; RIGHT: 34px
}
.portfolio-box .image .zoom {
	Z-INDEX: 2; POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 27px; BOTTOM: 21px; BACKGROUND: url(../images/btn-zoom.png) no-repeat; HEIGHT: 27px; OVERFLOW: hidden; RIGHT: 45px
}
.portfolio-box .image .video {
	Z-INDEX: 2; POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 27px; BOTTOM: 21px; BACKGROUND: url(../images/btn-zoom.png) no-repeat; HEIGHT: 27px; OVERFLOW: hidden; RIGHT: 45px
}
.portfolio-box .image .video {
	BACKGROUND: url(../images/bg-video.png) no-repeat
}
.portfolio-box P {
	MARGIN: 0px 0px 25px
}
.popup {
	Z-INDEX: 100; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; WIDTH: 209px; PADDING-RIGHT: 11px; DISPLAY: none; BACKGROUND: url(../images/bg-popup.png) no-repeat; HEIGHT: 197px; COLOR: #fff; OVERFLOW: hidden; PADDING-TOP: 0px
}
#sidebar .popup H3 {
	MARGIN: 0px 0px 4px; HEIGHT: 26px; FONT-SIZE: 19px; OVERFLOW: hidden
}
.popup H3 A {
	WHITE-SPACE: nowrap; COLOR: #fff
}
.popup H3 A:hover {
	TEXT-DECORATION: none
}
.popup .sub-title {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 14px; MARGIN-TOP: -3px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(ico06.gif) no-repeat 0px 2px; HEIGHT: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.popup .sub-title A {
	COLOR: #fff
}
.popup .image {
	PADDING-BOTTOM: 0px; MARGIN: 0px -15px; PADDING-LEFT: 23px; WIDTH: 180px; PADDING-RIGHT: 13px; BACKGROUND: url(../images/bg-gallery-el.png) no-repeat; HEIGHT: 117px; PADDING-TOP: 10px
}
.popup .price {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #323839; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.popup .stars {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; LIST-STYLE-IMAGE: none; PADDING-TOP: 4px
}
#sidebar .view-list .stars LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 1px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: auto; PADDING-TOP: 0px
}
.categories-box {
	WIDTH: 936px; OVERFLOW: hidden; MARGIN-RIGHT: -36px
}
.categories-box .column {
	WIDTH: 312px; FLOAT: left
}
.categories-box H2 {
	LINE-HEIGHT: 28px; MARGIN: 0px 0px 26px; COLOR: #2e3536; FONT-SIZE: 28px
}
.categories-list {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 156px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.categories-list LI {
	PADDING-BOTTOM: 15px; MARGIN-BOTTOM: -6px
}
.categories-list A {
	COLOR: #545c5f
}
.sub-category {
	WIDTH: 100%; OVERFLOW: hidden
}
.categories-list UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 8px 0px -9px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; BACKGROUND: url(bg-categories.gif) repeat-y; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 2px
}
.categories-list UL LI {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bullet03.gif) no-repeat 0px 8px; PADDING-TOP: 0px
}
#footer {
	BACKGROUND: url(../images/bg-footer03.png) repeat-x
}
.footer-holder {
	PADDING-BOTTOM: 18px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 900px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 26px
}
.threecolumns {
	WIDTH: 940px; OVERFLOW: hidden
}
.threecolumns .column {
	WIDTH: 276px; PADDING-RIGHT: 37px; FLOAT: left
}
.threecolumns H3 {
	LINE-HEIGHT: 28px; MARGIN: 0px 0px 25px; COLOR: #fff; FONT-SIZE: 20px
}
.threecolumns P {
	MARGIN: 0px 0px 19px; COLOR: #fff
}
.threecolumns .tweet-box {
	MARGIN: 0px 0px 18px; HEIGHT: 1%; OVERFLOW: hidden
}
.threecolumns .tweet-box P {
	MARGIN: 0px
}
.threecolumns .tweet-box P A {
	COLOR: #588dc2
}
.threecolumns .tweet-box .date {
	COLOR: #646464; FONT-SIZE: 10px
}
.threecolumns .subscribe-form {
	WIDTH: 100%; MARGIN-BOTTOM: 27px; OVERFLOW: hidden
}
.threecolumns .subscribe-form .text-wrap {
	WIDTH: 161px; BACKGROUND: url(bg-input03.gif) no-repeat; FLOAT: left
}
.threecolumns .subscribe-form .text {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 141px; PADDING-RIGHT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 17px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 4px
}
.threecolumns .subscribe-form .submit {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 106px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-submit02.png) no-repeat; FLOAT: right; LETTER-SPACING: -1000px; HEIGHT: 25px; FONT-SIZE: 0px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.threecolumns .social-list {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 8px; WIDTH: 268px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg-social-box.png) no-repeat; HEIGHT: 39px; OVERFLOW: hidden; LIST-STYLE-IMAGE: none; PADDING-TOP: 6px
}
.synoptic {
	DISPLAY: none
}
.threecolumns .social-list LI {
	WIDTH: 32px; PADDING-RIGHT: 6px; FLOAT: left
}
.threecolumns .social-list A {
	POSITION: relative; WIDTH: 32px; DISPLAY: block; HEIGHT: 33px
}
.fadeThis * {
	DISPLAY: none
}
.threecolumns .social-list SPAN {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 32px; HEIGHT: 33px; OVERFLOW: hidden; TOP: 0px; CURSOR: pointer; LEFT: 0px
}
.threecolumns .social-list .social1 {
	BACKGROUND: url(../images/bg-social01.png) no-repeat
}
.threecolumns .social-list .social2 {
	BACKGROUND: url(../images/bg-social02.png) no-repeat
}
.threecolumns .social-list .social3 {
	BACKGROUND: url(../images/bg-social03.png) no-repeat
}
.threecolumns .social-list .social4 {
	BACKGROUND: url(../images/bg-social04.png) no-repeat
}
.threecolumns .social-list .social5 {
	BACKGROUND: url(../images/bg-social05.png) no-repeat
}
.threecolumns .social-list .social6 {
	BACKGROUND: url(../images/bg-social06.png) no-repeat
}
.threecolumns .social-list .social7 {
	BACKGROUND: url(../images/bg-social07.png) no-repeat
}
.threecolumns .social-list .social1 SPAN {
	BACKGROUND: url(../images/bg-social01-h.png) no-repeat
}
.threecolumns .social-list .social2 SPAN {
	BACKGROUND: url(../images/bg-social02-h.png) no-repeat
}
.threecolumns .social-list .social3 SPAN {
	BACKGROUND: url(../images/bg-social03-h.png) no-repeat
}
.threecolumns .social-list .social4 SPAN {
	BACKGROUND: url(../images/bg-social04-h.png) no-repeat
}
.threecolumns .social-list .social5 SPAN {
	BACKGROUND: url(../images/bg-social05-h.png) no-repeat
}
.threecolumns .social-list .social6 SPAN {
	BACKGROUND: url(../images/bg-social06-h.png) no-repeat
}
.threecolumns .social-list .social7 SPAN {
	BACKGROUND: url(../images/bg-social07-h.png) no-repeat
}
.threecolumns .contact-list {
	LINE-HEIGHT: 18px; MARGIN: 0px 0px 14px; COLOR: #fff
}
.threecolumns .contact-list DT {
	WIDTH: 72px; FLOAT: left
}
.threecolumns .contact-list DD {
	MARGIN: 0px
}
.threecolumns .contact-list A {
	COLOR: #fff
}
.threecolumns .map-holder {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; WIDTH: 262px; PADDING-RIGHT: 6px; BACKGROUND: url(../images/bg-map.png) no-repeat; HEIGHT: 109px; PADDING-TOP: 6px
}
.loader {
	POSITION: absolute; MARGIN-LEFT: 3px; TOP: 43%; LEFT: 44%
}
.footer-wrap {
	WIDTH: 100%; BACKGROUND: url(../images/bg-footer.png) no-repeat 50% 0px; OVERFLOW: hidden
}
#footer .copy-wrap {
	POSITION: relative; MARGIN-TOP: -4px; BACKGROUND: url(../images/bg-footer02.png) repeat-x; HEIGHT: 40px
}
#footer .copy-holder {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 900px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 13px
}
#footer .copy-holder .copy {
	FLOAT: left; COLOR: #fff; text-shadow: #000 1px 0 0
}
#footer .copy-holder .design {
	LINE-HEIGHT: 15px; FONT-STYLE: italic; FLOAT: right; COLOR: #fff; TEXT-DECORATION: none
}
.brbottom { border-bottom:#cdcdcd 1px solid; }
.brtop { border-top:#cdcdcd 1px solid; }
.brleft { border-left:#cdcdcd 1px solid; }