#container { width:900px; margin:0px auto 0px; background:#FFFFFF; padding:10px; font-size:12px; margin-top:50px; }
a{
	text-transform:none;
	color:#333
}
#footer{
	background:#F0F0F0;
	padding:10px;
	border:#999 dotted 1px;
}
